/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* Navbar */
.teen-logo {
  width: 60px;
}

.nav-item {
  padding: 10px;
}

#sociolinks {
  text-align: center;
}

.twitter {
  color: #1c9bef;
  padding: 10px;
}

.instagram {
  color: #ff4248;
  padding: 10px;
}

.instagram:hover {
  color: #ff0d60;
}

.facebook {
  color: #0474e7;
  padding: 10px;
}

.facebook:hover {
  color: #109af6;
}

.youtube {
  color: red;
  padding: 10px;
}

.youtube:hover {
  color: #ff0200;
}

.give {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.give:hover {
  color: black;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Upcoming Events */
.event-heading {
  font-size: 50px;
}

@media (max-width: 462px) {
  .event-heading {
    font-size: 25px;
  }
}

.event-link {
  text-decoration: none;
  cursor: pointer;
  color: #912090;
}

.event-link:hover {
  text-decoration: none;
  color: #912090;
}

.event-info {
  text-align: left;
  font-size: 30px;
}

@media (max-width: 462px) {
  .event-info {
    text-align: left;
    font-size: 20px;
  }
}

#countdown {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.container-day,
.container-hour,
.container-minute {
  padding: 10px 100px 0px 0px;
  border-right: 1px solid black;
}

.container-second {
  padding: 10px 30px 0px 0px;
}

@media (max-width: 462px) {
  .container-day,
  .container-hour,
  .container-minute {
    padding: 10px 30px 0px 15px;
    border-right: 1px solid black;
  }

  .container-second {
    padding: 10px 30px 0px 15px;
  }
}

.timedesc {
  font-size: 10px;
  color: #7c7c7c;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* rtl:end:ignore */
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

.mfmhqgh {
  text-decoration: none;
  color: #912090;
}

.mfmhqgh:hover {
  color: #912090;
}

.bg {
  border-radius: 50px;
  transition-property: all;
  transition-duration: 1s;
}

.bg:hover {
  transform: scale(1.5);
}

/* Footer */
#animate {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-i {
  list-style: none;
  display: flex;
}

.social-icon {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  margin-right: 11px;
  cursor: pointer;
  border-radius: 50px;
}

.social-twitter {
  background-color: #55acee;
}

.social-facebook {
  background-color: #3b5999;
}

.social-youtube {
  background-color: red;
}

.social-instagram {
  background-color: #dd4b39;
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

a.tweet {
  text-decoration: none;
}

a.insta {
  text-decoration: none;
}

a.yt {
  text-decoration: none;
}

a.fb {
  text-decoration: none;
}

/* Return to top Arrow */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Edit on Github */
#github {
  text-align: center;
  color: black;
}

a.github {
  text-decoration: none;
}
